<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>Factory-flow</display-name>
	<welcome-file-list>
		<welcome-file>AuthenticationServlet</welcome-file>
	</welcome-file-list>
	
	<!-- AuthenticationServlet -->
	<servlet>
	<servlet-name>AuthenticationServlet</servlet-name>
	<servlet-class>be.alb_mar_hen.servlet.AuthenticationServlet</servlet-class>
	</servlet>

	<!-- MaintenanceWorkerDashboardServlet -->
	<servlet>
		<servlet-name>MaintenanceWorkerDashboardServlet</servlet-name>
		<servlet-class>be.alb_mar_hen.servlet.MaintenanceWorkerDashboardServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MaintenanceWorkerDashboardServlet</servlet-name>
		<url-pattern>/MaintenanceWorkerDashboardServlet</url-pattern>
	</servlet-mapping>

	<!-- MaintenanceResponsableDashboardServlet -->
	<servlet>
		<servlet-name>MaintenanceResponsableDashboardServlet</servlet-name>
		<servlet-class>be.alb_mar_hen.servlet.MaintenanceResponsableDashboardServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaintenanceResponsableDashboardServlet</servlet-name>
		<url-pattern>/MaintenanceResponsableDashboardServlet</url-pattern>
	</servlet-mapping>
	
	<!-- MaintenanceHistoryServlet -->
	<servlet>
		<servlet-name>MaintenanceHistoryServlet</servlet-name>
		<servlet-class>be.alb_mar_hen.servlet.MaintenanceHistoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MaintenanceHistoryServlet</servlet-name>
		<url-pattern>/MaintenanceHistoryServlet</url-pattern>
	</servlet-mapping>
</web-app>